/* https://fonts.google.com */

/*
@font-face {
    font-family: Joan;
    src: url("https://fonts.googleapis.com/css2?family=Joan&display=swap");
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
}
*/

/* General */
/*.reveal-viewport {
    background: rgb(245,245,245)
} */