/*-- scss:defaults --*/

// https://quarto.org/docs/presentations/revealjs/themes.html#sass-variables 

// fonts

@import url(https://fonts.googleapis.com/css?family=JetBrains+Mono:100,400,700);
@import url(https://fonts.googleapis.com/css?family=Barlow:100,400,700);

$font-family-monospace: "JetBrains Mono", "Courier New", monospace !default;
$font-family-sans-serif: "Barlow", sans-serif !default;
$font-family-serif: "Joan", "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif !default;
$presentation-heading-font: $font-family-sans-serif !default;
$font-family-base: $font-family-serif !default;
$mainfont: $font-family-serif !default;

// headings
//$presentation-heading-text-transform: uppercase !default;
$presentation-heading-color: rgb(78,60,86) !default;
$presentation-heading-font-weight: normal !default;

// body
$presentation-font-size-root: 33px !default;
$presentation-line-height: 1.15 !default;
$presentation-h1-font-size: 1.9em !default;
$presentation-h2-font-size: 1.65em !default;
$presentation-h3-font-size: 1.4em !default;
$code-block-font-size: .92em !default;

// colors
$body-bg: #fff;
$body-color: #000;
$link-color: #6b9e9b; //#e38119;
$full-casa : rgb(78,60,86);
$fade-casa : #9e6b88;
$comp-casa : #6b9e9b;

// code blocks
$code-block-border: none;
$code-block-border-left: $fade-casa !default;
$code-block-border-left-style: dotted;
$code-block-border-left-width: 5px;

/*-- scss:mixin --*/

.reveal code {
    font-size: .92em;
}

.reveal p, .reveal p i, .reveal p b {
    font-family: $font-family-serif;
    line-height: 1.25em;
}

.reveal ol li, .reveal ul li {
    font-family: $font-family-serif;
    line-height: 1.25em;
}

.reveal .slide blockquote {
    position: relative;
    //top: 1em;
    //left: 1em;
    //margin-top: 5em; //450px;
    //margin-left: 2em; //250px;
    //margin-bottom: 2em;
}

.reveal .h2 {
    margin-bottom: 30px;
}

/*-- scss:rules --*/

.reveal .sourceCode {
    border-style: none;
    border-left-style: dotted 5px $fade-casa;
}

// Fix links so they are not cut off
.reveal a {
    line-height: 1.3em;
}
